.shop {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.shop img {
  width: 550px; 
  margin: 0 auto;
  padding-bottom: 20px;
}
.shop h4 {
  margin-bottom: 0;
  text-transform: none;
}
.shop p {
  margin-top: 0;
}

.btn yellow {
	color: yellow;
}
.btn black {
	color:black;
}

.floatLeft {
	margin: auto;
}
.floatRight {
	width:1000px;
}

