@charset "UTF-8";

.hidden-top {
  height: 0;
  color: #fff;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.nav topnav {
	color: #ff2bdb;
	backgroundcolor: yellow;
}

#content {
	background: grey;
}

.textsg {
	color: yellow;
}
.pageheader {
	color: yellow;
}